<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	

    <bean id="activitiDemoDAO" class="com.activiti.demo.dao.ActivitiDemoDAOImpl" parent="baseDao"></bean>
    
    <bean id="activitiDemoServ" class="com.activiti.demo.serv.ActivitiDemoServImpl" scope="prototype">
        <property name="dao" ref="activitiDemoDAO"></property>
    </bean>
    
    <bean id="activitiDemoAction" class="com.activiti.demo.action.ActivitiDemoAction" scope="prototype">
        <property name="serv" ref="activitiDemoServ"></property>
        <property name="processEngine" ref="processEngine" />
    </bean>
</beans>